.body{
    -fx-background-image: url("city.jpg");
    -fx-background-size:100%;
    -fx-background-position: center;
    -fx-background-repeat:no-repeat;
}

.button{
	-fx-background-color:transparent;
	-fx-border-color:white;
}