
.body{
	-fx-background-image:url("sky.jpg");
	-fx-background-size:100%;
    -fx-background-position: contain;
    -fx-background-repeat:no-repeat;
}

.imagen{
    -fx-background-image:url("tomphy.png");
	-fx-background-size:100%;
    -fx-background-position: contain;
    -fx-background-repeat:no-repeat;
    -fx-border-radius: 50px;
    -fx-border-width: 5px;
}
