.body {
    -fx-background-image: url("pizarra.jpg");
    -fx-background-size: 100%;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}


.login{
	-fx-background-color:transparent;
	-fx-border-color:white;
}